.container.svelte-8p0mpe {
    width: 100%;
    max-width: 1920px;
    padding: 0 50px;
    display: block;
    margin: 0 auto
}

@media (max-width: 1880px) {
    .container.svelte-8p0mpe {
        padding: 0 40px
    }
}

@media (max-width: 680px) {
    .container.svelte-8p0mpe {
        padding: 0 16px
    }
}

@media (max-width: 480px) {
    .container.cling_sm.svelte-8p0mpe {
        padding: 0
    }
}